<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="sidebar-brand" style="color: #17a2b8;">
    <!-- <img src="../../../assets/images/logo.jpg" class="img-fluid"> -->
    <h2>AFCVT</h2>
  </div>
    <app-super-toggle></app-super-toggle>
    <ul class="nav navbar-nav navbar-right">
      <li><a data-toggle="modal" data-target="#loginModal"><span class="fa fa-unlock"></span> login</a></li>
   </ul>
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </nav>
 