.login-form
{
    background-image: url("../../assets/images/login-image1.jpg");
    background-size: cover;
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;

}

.right-side
{
    background: #fff;
    padding:50px;
    margin:50px 0;
}
.left-side
{
    padding: 50px;
    margin: 50px 0;
    background: rgba(0, 0, 0, 0.39);
    text-align: center;
}
.form-title
{
  text-align: center;
}
.right-side span
{
  color:#aa0079;
}
.form-foot
{
    display: flex;
}
.login-btn
{
    text-align: center;
}
.login-btn button
{
    padding: 8px 70px;
}
.pass
{
    margin-bottom: 30px;
}
.forg-pass
{
    margin-top: 20px;
}

@media only screen and (min-width: 768px)
{
    .form-style
    {
        padding: 50px 70px!important;
    }
    
}

@media only screen and (max-width: 767px)
{
    .left-side
    {
        display: none;
    }
    .right-side {
        margin: 50px 25px!important;
    }
    .form-style
    {
        padding: 30px 0px!important;
    }
}
 
 
 /* .modal-content{
    background-color: darkcyan;
    top: 40px;
}
.btn-link{
    color:white;
}
.modal-heading h2{
    color:#ffffff;
}
.input-group-addon:first-child {
    border-right: 0;
}
.fa {
    position: relative;
    top: 3px;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 40px;
} 
 */
